# Virtual Environment
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Uploads (gambar yang diupload user)
static/uploads/*
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/
Data/
train_model.ipynb
models/training_history.json
